@charset "utf-8";

html
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: baseline;
}

body
{
	margin: 0 auto;
	padding: 0;
	width: 400px;
}

img{border:0 none;}

.required{color:#F00;}